<!--TODO: implementar formulario para ingreso de nuevas tareas-->
<ng-template #addTask let-modal >
  <div class="modal-header">
    <h4 class="modal-title">Titulo Modal</h4>
    <button (click)="this.closeModal()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, temporibus consectetur animi necessitatibus ipsum fugit, rerum incidunt error laboriosam doloremque alias distinctio possimus assumenda, nulla quos accusantium voluptate dolore illum.
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="modal.close()">Ok!</button>
  </div>
</ng-template>



<div *ngIf="errorMio" class="alert alert-danger mt-4" role="alert">
  {{errorMio}}
</div>
<div class="container-lg my-4">
    <div class="row row-cols-3 tabla-task">
        <div *ngFor="let task of tasks" id="{{task.id}}"  class="col-md-4 col-sm-6 col-12">
          <div class="card text-center bg-secondary text-white">
              <div *ngIf="task.completed==true" class="card-header bg-success">
                {{task.nameTask}}
              </div>
              <div *ngIf="task.completed==false" class="card-header bg-warning">
                {{task.nameTask}}
              </div>
              <div class="card-body">
                  <div class="border p-3 mb-3">
                      <p class="card-title">Fecha Creacion: 12/10/2021</p>
                      <p *ngIf="task.completed==true" class="card-text">Fecha completado: 12/10/2021</p>
                      <p  *ngIf="task.completed==false" class="card-text ">Por completar</p>
                  </div>
                <p class="card-text">{{task.task}}</p>
              </div>
                <div *ngIf="task.completed==true" class="card-footer bg-success">COMPLETADO</div>
                <div *ngIf="task.completed==false" class="card-footer bg-warning">NO COMPLETADO</div>
          </div>
      </div>
    </div>
    <a (click)="this.openModal(this.modal)" class="btn-flotante cursor-pointer"><i class="bi bi-pencil-square"></i></a>
</div>


