

<nav class="navbar navbar-expand-lg navbar-dark bg-grey-1">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Task App <i class="bi bi-check2-square"></i></a>
    
    <div *ngIf="authService.isAuthenticated()" class="collapse navbar-collapse" id="navbarToggleExternalContent">
      <div class="d-none d-lg-block vr text-light mx-2"></div>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="home">
            <i class="bi bi-list-task"></i> 
            Tareas
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="register">
            <i class="bi bi-trash"></i>
            Papelera
          </a>
        </li>
        <div class="d-none d-lg-block vr text-light mx-3"></div>
        <li class="nav-item">
          <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">
            <i class="bi bi-person-circle"></i> 
            Mi Perfil
          </a>
        </li>
      </ul>
      <div *ngIf="authService.isAuthenticated()" class="d-flex aling-items-center flex-column">
        <div class="d-flex d-grid gap-2 col-12 mx-auto mb-2 logout">
          <div class="dropdown">
            <!--DROPDOWN BTN-->
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              Configuraciones
            </a>
            <!-- DROPDOWN MENU-->
            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="dropdownMenuLink">
              <li>
                <a class="dropdown-item" href="#">
                  <i class="bi bi-person-circle"></i> 
                  Mi perfil
                </a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a (click)="logout()" class="dropdown-item cursor-pointer">
                  <i class="bi bi-box-arrow-left"></i>
                  Cerrar sesión
                </a>
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent"          aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>



