<!--TODO: implementar formulario de registro-->

<div class="container-md text-white mt-3 mb-4">
  <div class="row w-150 justify-content-center aling-items-center">
    <div class="col-12">
      <div *ngIf="submit" class="alert alert-success alert-dismissible fade show" role="alert">
        <i style="font-size: 1rem;" class="bi bi-check-circle-fill"></i>
        <strong> Ya estas registrado!</strong> Solo debes <a href="" routerLink="/login"> ingresar sesión</a>  para usar nuestra app.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <div *ngIf="error" class="alert alert-danger" role="alert">
        {{messageErrorBack}}
      </div>
    </div>
    <div class="col-sm-12 col-md-6 border bg-white text-black rounded p-3">
      <form [formGroup]="registerUser" (ngSubmit)="onSubmit(registerUser.value)" class="" >
        <div class="mb-3">
          <label for="username">Tu nombre</label>
          <input 
          [ngClass]="{'is-invalid': f.username.errors?.pattern || f.username.errors?.required && (f.username.dirty || f.username.touched) , 'is-valid': f.username.errors?.pattern || !f.username.errors?.required && (f.username.dirty || f.username.touched)}"
          type="text" 
          formControlName="username" 
          class="form-control" 
          name="username" 
          id="username"
          required
          >
          <div class="invalid-feedback" *ngIf="f.username.errors?.required" >
            El nombre de usuario es obligatorio. 
          </div>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input 
            [ngClass]="{'is-invalid': f.email.errors?.pattern || f.email.errors?.required  && (f.email.dirty || f.email.touched) || errorUser, 'is-valid':  !f.email.errors?.required && (f.email.dirty || f.email.touched)}"
            required 
            type="email" 
            formControlName="email" 
            class="form-control" 
            name="email" 
            id="email">
            <div class="invalid-feedback" *ngIf="f.email.errors?.required">
              El email, es obligatorio, con este te identificaras dentro de nuestra aplicación!
            </div>
            <div class="invalid-feedback" *ngIf="f.email.errors?.pattern">
              El email esta mal escrito
            </div>
            <div id="email" class="form-text text-muted">Nunca debes compartir tu correo con otra persona.</div> 
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input 
            [ngClass]="{'is-invalid': f.password.errors?.['passNull']  && (f.password.dirty || f.password.touched) || f.confirmPassword.errors?.['passNotSame'], 'is-valid': !f.password.errors?.['passNull'] && (f.password.dirty || f.password.touched) || f.confirmPassword.errors?.['passNotSame']}"
            required 
            type="password" 
            formControlName="password" 
            class="form-control" 
            name="password" 
            id="password">
            <div 
            class="invalid-feedback" 
            *ngIf="f.password.errors?.['passNull']">
              Las contraseñas no pueden estar vacias
            </div>
            <br>  
            <label for="confirmPassword" class="form-label">Confirma tu contraseña</label>
            <input 
            [ngClass]="{'is-invalid': f.password.errors?.['passNull']  && (f.confirmPassword.dirty || f.confirmPassword.touched) || f.confirmPassword.errors?.['passNotSame'], 'is-valid': !f.password.errors?.['passNull'] && (f.confirmPassword.dirty || f.confirmPassword.touched) || f.confirmPassword.errors?.['passNotSame']}"
            required
            type="password" 
            formControlName="confirmPassword" 
            class="form-control" 
            id="confirmPassword">
            <div 
            class="invalid-feedback" 
            *ngIf="f.confirmPassword.errors?.['passNotSame']">
              Las contraseñas no coinciden
          </div>
        </div>
        <div class="mb-3 form-check">
          <input required type="checkbox" class="form-check-input" id="exampleCheck1">
          <label style="font-size: .8rem;" class="form-check-label" for="exampleCheck1">Estoy de acuerdo con las politicas de privacidad</label>
        </div>
        <button [disabled]="registerUser.invalid" type="submit"  class="btn btn-primary">Registrarme</button>
        <div id="login" class="form-text text-muted">¿Ya estas registrado, <a href="" routerLink="/login">inicia sesión aquí.</a></div> 
      </form>
    </div>
  </div>

</div>
